VITE_WECHAT_WEB_APP_ID=
VITE_WECHAT_OFFICIAL_ACCOUNT_APP_ID=
VITE_WECHAT_REDIRECT_URI=http://localhost:5173/
FRONTEND_ORIGIN=http://localhost:5173
SERVER_PORT=4101
WECHAT_WEB_APP_ID=
WECHAT_WEB_APP_SECRET=
WECHAT_OFFICIAL_ACCOUNT_APP_ID=
WECHAT_OFFICIAL_ACCOUNT_APP_SECRET=
