NEXT_PUBLIC_WECHAT_WEB_APP_ID=
NEXT_PUBLIC_WECHAT_OFFICIAL_ACCOUNT_APP_ID=
NEXT_PUBLIC_WECHAT_REDIRECT_URI=http://localhost:3000/
FRONTEND_ORIGIN=http://localhost:3000
SERVER_PORT=4100
WECHAT_WEB_APP_ID=
WECHAT_WEB_APP_SECRET=
WECHAT_OFFICIAL_ACCOUNT_APP_ID=
WECHAT_OFFICIAL_ACCOUNT_APP_SECRET=
